{% extends "@casella/content/node--page-default.html.twig" %}

{% block preTitleSection %}
  {% embed "@casella/includes/subsection-header.html.twig" %}{% endembed %}
{% endblock %}

{% block title %}
  <div class="internal-headerPanel-wrapper">
    {{ parent() }}
  </div>
{% endblock %}

{% block heroBreadcrumbs %}{% endblock %}
