@import "~tingle.js/dist/tingle.min.css";

/* Override z-index for fixed site header */
.tingle-modal {
  z-index: 9000;
}

.tingle-modal-box__content {
  font-size: 15px;
  line-height: 1.5;
  font-family: "Droid Serif", sans-serif;
}

.tingle-modal-box__content p {
  font: inherit;
}

.field_modal_pdf {
  display: none;
}

.autocomplete-suggestions .translateY {
  top: 200px;
}

.autocomplete-no-suggestions {
  text-align: left; cursor: default; border: 1px solid #ccc; border-top: 0; background: #fff; box-shadow: -1px 1px 3px rgba(0,0,0,.1);
  position: absolute; display: none; z-index: 9999; max-height: 254px; overflow: hidden; overflow-y: auto; box-sizing: border-box;
}

.autocomplete-has-suggestions {
  padding: .5em;
  text-align: left;
  cursor: default;
  border: 1px solid #ccc;
  border-top: 0;
  background: #fff;
  box-shadow: -1px 1px 3px rgba(0,0,0,.1);
  position: relative;
  top: -30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-height: 200px;
  z-index: 999999;
  overflow: hidden;
  overflow-y: auto;
  box-sizing: border-box;
}

.autocomplete-has-suggestions.is-hidden {
  display: none;
}

.autocomplete-has-suggestions p {
  margin-left: .5em;
  margin-bottom: 0;
  font-weight: bold;
}

.autocomplete-has-suggestions .fa {
  color: green;
}

.autocomplete-no-suggestions.no-suggestions {
  padding: .5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.autocomplete-no-suggestions.is-hidden {
  display: none;
}
.autocomplete-no-suggestions.no-suggestions .fa {
  color: red;
}
.autocomplete-no-suggestions.no-suggestions p {
  margin-left: .5em;
  margin-bottom: 0;
  font-weight: bold;
}
.autocomplete-no-suggestion { position: relative; padding: 0 .6em; line-height: 23px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 1.02em; color: #333; }
.autocomplete-no-suggestion strong { font-weight: normal; color: #1f8dd6; }
.autocomplete-no-suggestion.selected { background: #f0f0f0; }

.form-calculator-form {

}

.form-calculator-form input.is-invalid {
  border: 1px solid #ff0000;
}

.form-calculator-form .form-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-calculator-form .form-item input[type="number"] {
  max-width: 450px;
}

.form-calculator-form .form-item label span {
  color: #333333;
}

.calculator-form-results.autocomplete-has-suggestions {
  display: block;
}

@keyframes slideItDown {
  0% {
    opacity: 0;
    transform: translateY(40px);
   }
  100% {
    opacity: 1;
    transform: translateY(-40px);
  }
}

.calculator-form-results {
  position: relative;
  text-align: left;
  color: #000000;
  box-shadow: 0 0 5px black;
  transition: all 500ms linear;
  animation: slideItDown 1.5s 0s 1 ease forwards;
}

.calculator-form-results .result-header {
  padding: .75em 1em;
  background-color: #4a4a4a;
  border-radius: 4px 4px 0 0;
  color: #fff;
  font-family: "Gotham-Black", "Droid Serif", sans-serif;
  font-size: 110%;
  font-weight: 700;
  position: relative;
}

.calculator-form-results .result-header p {
  margin: 0;
  padding: 0;
}

.calculator-form-results .result-body {
  padding: 1.25em 1.5em;
  border-color: #dbdbdb;
  border-radius: 4px;
  border-style: solid;
}

.calculator-form-results.is-hidden {
  transition: all 500ms linear;
  display: none;
}
