<!--Customer Care Alert-->
<div class="customerCare-alert-container">
  <div class="globalWidth">
    <div class="customerCare-alert-wrapper">

      <div class="customerCare-alert-iconContainer"><span class="fa fa-exclamation-triangle btnIconWrapper" aria-hidden="true"></span> Alert</div>
      <div class="customerCare-alert-messageContainer">

        <div class="customerCare-alert-indContainer">
          {{ content.field_alert_title }}
          {{ content.field_alert_content }}
        </div>

      </div>

    </div>
  </div>
</div>
<!--END Customer Care Alert-->