<!--Section Navigation-->
<div class="sticky-spacer">
  <div id="sectionNav">
    <div class="globalWidth">

      <!--Section Logo-->
      <div class="sectionNav-logoContainer">
        {% block subsectionLogo %}
          <a href="{{ subsectionPath }}" title="Earthlife logo">
            <img src="/{{ theme_path }}/i/logos/earthlife-Logo.png" alt="Casella Earthlife">
          </a>
        {% endblock %}
      </div>
      <!--END Section Logo-->

      <!--Mobile Btn Set-->
      <div class="mobileBtnWrapper">
        <a href="#menu" class="sectionMenuToggle"></a>
      </div>
      <!--END Mobile Btn Set-->

      {% block subsection_nav %}{% endblock %}

    </div>
  </div>
</div>
<!--END Section Navigation-->

{% if breadcrumbOverride %}
  <div class="sectionMenu-breadCrumb-container cf">
    <div class="globalWidth">
      <div class="sectionMenu-breadCrumb-wrapper">
        {{ breadcrumbOverride }}
      </div>
      <div class="sectionMenu-search-wrapper">
        <a href="javascript:void(0)" title="" class="searchPanel_open">
          <div>
            <span class="fa fa-search searchIcon"></span>
            <span class="sectionMenu-search-wrapper__txt">Search</span>
          </div>
        </a>
      </div>
    </div>
  </div>
{% else %}
  {% if node_content.casella_breadcrumbs %}
    <div class="sectionMenu-breadCrumb-container cf">
      <div class="globalWidth">
        <div class="sectionMenu-breadCrumb-wrapper">
          {{ node_content.casella_breadcrumbs }}
        </div>
        <div class="sectionMenu-search-wrapper">
          <a href="javascript:void(0)" title="" class="searchPanel_open">
            <div>
              <span class="fa fa-search searchIcon"></span>
              <span class="sectionMenu-search-wrapper__txt">Search</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}
