{% embed "@casella/includes/subsection-header.html.twig" %}
  {% block subsection_nav %}
    {{ node_content.organics_menu }}
  {% endblock %}

  {% block subsectionLogo %}
    <a href="{{ subsectionPath }}" title="">
      <img src="/{{ theme_path }}/i/logos/CasellaOrganics-Logo.png" alt="">
    </a>
  {% endblock %}
{% endembed %}
