{{ attach_library('casella/jquery.zozotabs') }}

<!--Interactive Content-->
<div class="internal-interActiveContent-container">

  <div class="relativeWrapper">
    <a class="deeplink_target" name="tabs" id="tabs"></a>
  </div>

  <!--Zozo Tabs-->
  <div id="tabbed-nav">

    <!-- Tab Navigation Menu -->
    <ul>
      {% for tab_anchor in tab_anchors %}
        <li id="{{ tab_anchor|adw_machine_name }}"><a>{{ tab_anchor }}</a></li>
      {% endfor %}
    </ul>

    <!--Slide Panel Container-->
    <div>
      {{ content.field_tabs }}
    </div>

  </div>
</div>
