<div role="contentinfo" aria-label="Status message" class="messages messages--warning">
  <h2 class="visually-hidden">Status message</h2>
  This node is unpublished and is not visible to the public.
</div>
