/* CAREER PAGE CONTENT TYPE */
.careerWidth {
  width: 100%;
}

.c-career--nav {
  position: fixed;
  background: #fff;
  color: #0a253e;
  width: 15%;
  margin-left: 24px;
  left: 20px;
  top: 200px;
}

#block-careers {
  padding: 3%;
}

.career-page .globalWidth {
  width: 100%;
  padding: 0;
}
.career-page .internal-fullWidthPromo-contentWrapper {
  padding: 0;
  margin: 0 5%;
}

.internal-mainBody-container.career {
  padding: 0;
  margin: 0;
}

.career-page .internal-mainBody-contentContainer {
  padding: 0;
}

/*CAREER PAGE HERO IMAGE*/
.career-page .global
.career-hero {
  margin-top: 64px;
  position: relative;
}
.career-hero img {
  background: #818181;
  left: 0;
  padding: 0!important;
  top: 0px;
  width: 100%;
  z-index: -1;
}

.career-hero--image {
  background: #818181;
  height: 100%;
  left: 0;
  padding: 0!important;
  /*position: fixed;*/
  top: 140px;
  width: 100%;
  z-index: -1;
}

.internal-fullWidthPromo-contentContainer.career-page {
  background: #818181;
  display: block;
  height: 100%;
  width: 100%;
  color: #fff;
  align-items: center;
  justify-content: center;
  padding: 36px 0;
}

.career-page .internal-fullWidthPromo-teaser {
  font-family: 'Droid Serif', serif;
  font-size: 24px;
  text-align: left;
  line-height: 1.2;
  color: #fff;
}
.career-page-alt .internal-fullWidthPromo-teaser {
  font-family: 'Droid Serif', serif;
  font-size: 24px;
  text-align: left;
  line-height: 1.2;
  color: #fff;
}

.career-page h1.internal-fullWidthPromo-title {
  color: #fff;
  text-transform: uppercase;
  /*margin: 0 0 5px;*/
  font-size: 55px;
  text-align: left;
}

/* CAREER PARAGRAPH BUNDLES */

/* PARAGRAPH CONTAINERS MOBILE */
.c-career--cta, .c-career--categories, .c-career--accolades, .c-career--text-block, .a11y-paragraphs-tabs__wrapper {
  margin: 0;
  padding: 6px 5% 36px;
  text-align: left;
}

.c-career--accolades {
  text-align: center;
}

.c-career--accolades-items {
  margin: 24px 0;
}

.c-career--accolades-desc {
  margin-top: 24px;
  font-size: 16px;
}

/*SECTION TITLES*/
.c-career--section-title {
  font-family: 'Gotham-Black';
  text-transform: uppercase;
  font-size: 36px!important;
  line-height: 40px;
  margin: 36px 0;
}

.c-career--section-title.green {color: #76bd22;}
.c-career--section-title.white {color: #fff;}
.c-career--section-title.blue {color: #0a253e;}

/* CAREER CATEGORY LINKS */
.c-career--categories { background-color: #0a253e; }
.c-career--categories .c-career--cta-text {color: #fff;}

/* CTA - Call to action panels */

.c-career--cta-text, .c-career--text {
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 24px;
  font-family: 'Droid Serif', serif;
  color: #000000;
}

.c-career--cta-button a {
  font-size: 14px;
  color: #76bd22;
  display: inline-block;
  background: #fff;
  border: 2px solid #76bd22; /*green*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: 'Gotham-Bold';
  width: 170px;
  height: 50px;
  line-height: 48px;
  text-align: center;
}

/* CTA BLUE BACKGROUND */
.c-career--cta.blue, .c-career--categories { background-color: #0a253e; }
.c-career--cta.blue .c-career--cta-text {color: #fff;}
.c-career--cta.blue .c-career--cta-button a {
  background-color: #76bd22;
  color: #fff;
}
.c-career--cta.blue .c-career--cta-button a:hover {
  background-color: #fff;
  color: #76bd22;
}

/* CTA WHITE BACKGROUND */
.c-career--cta.white { background-color: #fff; }
.c-career--cta.white .c-career--cta-text {color: #0a253e;}

.c-career--cta.white .c-career--cta-button a:hover {
  background-color: #76bd22; /*green*/
  color: #fff;
}

/* TEXT BLOCKS WITH IMAGES AND VIDEOS */

.c-career--text.top {
  margin-bottom: 36px;
}

.c-career--text.bottom {
  margin-top: 36px;
}

/* ZEBRA PARAGRAPHS */

.c-career-panel {
  clear: both;
  margin: 12px 0;
  padding: 1% 5%;
}

.c-career-panel--left, .c-career-panel--right  {
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 24px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "left"
  "right";
}

.c-career--tab-content .c-career-panel--right {
  border-bottom: none;
}

.c-career--tab-content .c-career-panel {
  padding: 1%;
}


.c-career-panel--media {
  grid-area: left;
}

.c-career-panel--media img {
  width: 100%;
}

.c-career-panel--text {
  grid-area: right;
}

.c-career-panel--body p {
  color: #0a253e;
  font-family: 'Droid Serif', serif;
  line-height: 20px;
  font-size: 16px;
  margin-bottom: 9px;
}

.c-career-panel--text h3, .c-career--text h3 {
  font-family: 'Gotham-Bold';
  color: #7abf23;
  text-transform: uppercase;
  font-size: 24px;
  margin: 24px 0 9px;
}

.c-career-panel .c-career-panel--link a {
  color: #76bd22;
  font-family: 'Gotham-Bold';
  font-size: 14px;
}

.c-career--text h3 {
  color: #000000;
  font-size: 18px;
}


/* FULL WIDTH IMAGE PANEL */

.c-career--image-panel {
  position: relative;
}

.c-career--image-panel-img {

  position: relative;
}

.c-career--image-panel-img img {
  width: 100%;
}


.c-career--image-panel .c-career--section-title {
  position: absolute;
  top: 35%;
  left: 15%;
  padding-right: 10%;
}

h2.c-career--image-panel-title {
  color: #fff;
  font-family: 'Gotham-Black';
  text-transform: uppercase;
  font-size: 40px!important;
  line-height: 1;
}

.c-career--image img {
  width: 100%;
  height: 100%;
}

/*Career CATEGORY links flexbox 3 columns */
.c-career--link-container {
  margin-top: 20px;
}

.c-career--link-container ul {
  padding: 0 3%;
}

.c-career--search {
  height: 44px;
  display: block;
  margin-top: 48px;
  position: relative;
  line-height: 44px;
}

li.c-career--link-items {
  /*flex: 0 0 30%;*/
  text-align: left;
  padding-top: 15px;
  margin-bottom: 18px;
  margin-right: 6px;
  height: 50px;
  position: relative;
}

li.c-career--link-items a, .c-career--search a {
  background-color: #76bd22;
  color: #fff;
  display: block;
  border-radius: 5px;
  color: #fff;
  padding-left: 12px;
  font-size: 14px;
  text-transform: uppercase;
  font-family: Gotham-Bold;
  line-height: 50px;
  vertical-align: middle;
}

.c-career--search a {
  line-height: 44px;
}

li.c-career--link-items a:hover, .c-career--search a:hover {
  background-color: #fff;
  border: 2px solid #76bd22;
  color: #76bd22;
}

li.c-career--link-items a:after {
  position: absolute;
  right: 12px;
  -webkit-font-smoothing: antialiased;
  font-family: "FontAwesome";
  content: '\f08e';
  color: #fff;
  padding-left: 12px;
  font-weight: 900;
  font-size: 20px;
}

li.c-career--link-items a:hover:after, .c-career--search a:hover:after {
  color: #76bd22;
}

.c-career--search a:after {
  position: absolute;
  right: 12px;
  -webkit-font-smoothing: antialiased;
  font-family: "FontAwesome";
  content: '\f002';
  color: #fff;
  padding-left: 12px;
  font-weight: 900;
  font-size: 20px;
}


/* A11Y TABS */

.a11y-paragraphs-tabs__wrapper .tabs-trigger.is-selected,
.a11y-paragraphs-tabs__wrapper .tabs-trigger.is-selected:hover,
.a11y-paragraphs-tabs__wrapper .tabs-trigger.is-selected:focus {
  border-bottom: none;
}

.a11y-paragraphs-tabs__wrapper .tabs-trigger {
  color: #000;
  background-color: #fff;
  border-right: 1px solid #C4C4C4;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Gotham-Bold';
  margin: 0;
}

.a11y-paragraphs-tabs__wrapper .tabs-trigger.is-selected,
.a11y-paragraphs-tabs__wrapper .tabs-trigger.is-selected:hover,
.a11y-paragraphs-tabs__wrapper .tabs-trigger.is-selected:focus {
  color: #fff!important;
  background-color: #76bd22;
}

.a11y-paragraphs-tabs__wrapper .li {
  border-right: 1px solid #C4C4C4;
}

.a11y-paragraphs-tabs__wrapper .is-initialized.tabs-allowed .tabs-panel {
  display: inherit;
}

.a11y-paragraphs-tabs__wrapper .accordeon-trigger[aria-expanded="true"] {
  background-color: #76bd22;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Gotham-Bold';
}
.a11y-paragraphs-tabs__wrapper .accordeon-trigger[aria-expanded="false"] {
  background-color: #fff;
  color: #7abf23;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Gotham-Bold';
}

.a11y-paragraphs-tabs__wrapper .accordeon-trigger[aria-expanded="true"]:after {
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font-family: "FontAwesome";
  content: '\f068';
  color: #fff;
  padding-right: 3px;
}

.a11y-paragraphs-tabs__wrapper .accordeon-trigger[aria-expanded="false"]:after {
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font-family: "FontAwesome";
  content: '\f067';
  color: #7abf23;
  padding-right: 3px;
}

.a11y-paragraphs-tabs__wrapper .tabs-panel:not(:first-of-type) {
  border-top: 1px solid #7abf23;
}

.a11y-paragraphs-tabs__wrapper .c-career--container-inner {
  /*padding: 0 5%;*/
  margin-bottom: 24px;
}


/* MEDIA QUERIES */

@media (min-width: 600px) {

  .career-hero {
    margin-top: 0;
    text-align: center;
    position: relative;
    width: 100%;
    height: 280px;
  }
  .career-hero--image {
    position: absolute;
    top: 0;
  }
  .career-hero--image::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    /*height: 300px;*/
    height: 100%;
    background-color: rgba(9, 37, 62, 0.25);
  }

  .career-hero img {
    background: #818181;
    left: 0;
    padding: 0!important;
    position: absolute;
    top: 0px;
    z-index: -1;
  }

  .internal-fullWidthPromo-contentContainer.career-page {
    background: none;
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    color: #fff;
  }

  .career-page .internal-fullWidthPromo-contentWrapper {
    padding: 0 5%;
    margin: 0;
  }
  .career-page h1.internal-fullWidthPromo-title {
    color: #fff;
    text-transform: uppercase;
    font-size: 55px;
    text-align: left;
    line-height: 53px;
  }
  .career-page .internal-fullWidthPromo-teaser {
    font-family: 'Droid Serif', serif;
    font-size: 24px;
    text-align: left;
    line-height: 28px;
    max-width: 600px;
  }
  .c-career-panel {
    clear: both;
    padding: 0 5%;
    margin: 48px 0;
  }

  .c-career-panel--left, .c-career-panel--right {
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 24px;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-areas: "left right";
    justify-content: space-evenly;
  }

  .c-career-panel--left .c-career-panel--media {
    grid-area: left;
  }
  .c-career-panel--right .c-career-panel--media, .c-career--tab-content .c-career--text {
    grid-area: right;
    text-align: right;
  }

  .c-career-panel--media img, .c-career-panel--media .video-embed-field-responsive-video {
    max-width: 420px;
  }

  .c-career-panel--right .c-career-panel--text {
    grid-area: left;
  }
  .c-career-panel--left .c-career-panel--text {
    grid-area: right;
  }
  .c-career-panel--text h3, .c-career--text h3 {
    margin: 9px 0;
  }
  .a11y-paragraphs-tabs__wrapper .c-career--container-inner {
    /*padding: 0 3%;*/
  }
  .c-career--tab-content .c-career-panel {
    padding: 0;
  }
}




@media all and (min-width: 768px) {
  .career-hero {
    margin-top: 0;
  }
  .career-hero--image {
    top: 0;
  }

  .career-hero--image::after {
    /*height: 300px;*/
  }
  .career-page .internal-fullWidthPromo-contentWrapper {
    padding: 0 5%;
    margin: 0;
  }
  .c-career--section-title {
    margin: 0 0 20px;
  }
  .c-career-panel, .c-career--text-block {
    padding: 0 5%;
  }
  .c-career--text-block {
    margin: 24px 0;
  }
  .a11y-paragraphs-tabs__wrapper .tabs-allowed .tabs-tab-list {
    border-bottom: 6px solid #76bd22;
  }
  .a11y-paragraphs-tabs__wrapper .tabs-allowed .tabs-panel {
    margin-top: 48px;
    border-top: none;
  }

  .c-career--cta, .c-career--categories, .c-career--accolades {
    margin: 0;
    padding: 36px 5% 36px;
    text-align: left;
  }


  .c-career--link-container ul, .c-career--accolades-container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
  }

  li.c-career--link-items, li.c-career--accolades-items {
    flex: 0 0 31%;
    text-align: left;
    padding-top: 15px;
    margin-bottom: 2%;
    margin-right: 6px;
    height: 50px;
    position: relative;
  }
  li.c-career--accolades-items {
    height: 100%;
  }

  .c-career--accolades-desc, .c-career--accolades-image {
    text-align: center;
    margin-top: 24px;
  }
}

@media all and (min-width: 812px) {
  .career-hero {
    margin-top: 0;
    height: 300px
  }
  .career-hero--image {
    top: 0;
  }

  .career-hero--image::after {
    /*height: 300px;*/
  }
  .career-page .internal-fullWidthPromo-contentWrapper {
    padding: 0 5%;
    margin: 0;
  }
}

@media all and (min-width: 1000px) {
  .career-hero {
    margin-top: 0;
    height: 540px;
  }
  .career-page .internal-fullWidthPromo-contentWrapper {
    padding: 60px 5%;
    margin: 0;
  }
}

@media all and (min-width: 1200px) {
  .career-hero {
    margin-top: 140px;
    height: 460px;
  }
  .career-hero--image {
    position: fixed;
    top: 64px;
  }

  .career-hero--image::after {
    /*height: 680px;*/
  }

  .career-page .internal-fullWidthPromo-contentWrapper {
    padding: 5% 10%;
    margin: 0;
  }

  .c-career--cta, .c-career-panel, .c-career--categories, .c-career--text-block, .c-career--accolades, .a11y-paragraphs-tabs__wrapper  {
    padding: 48px 10%;

  }
  .c-career--text-block {
    /*padding: 0 10%*/
  }
  .c-career--container-inner {
    /*padding: 0 10%;*/
  }
  .c-career-panel--inner {
    padding-bottom: 24px;
  }

  .c-career--tab-content .c-career--container-inner {
    padding: 12px 0;
  }
  .a11y-paragraphs-tabs__wrapper .c-career--container-inner {
    /*padding: 0 10%;*/
  }
  .c-career--tab-content .c-career-panel {
    padding: 0;
  }

  li.c-career--link-items a, .c-career--search a {
    background-color: #76bd22;
    color: #fff;
    display: block;
    border-radius: 5px;
    color: #fff;
    padding-left: 12px;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Gotham-Bold';
    line-height: 50px;
    vertical-align: middle;
  }

  .c-career--search {
    height: 44px;
    display: block;
    margin-top: 24px;
    position: relative;
  }

  .c-career--search a {
    line-height: 44px;
  }

}

@media all and (min-width: 1400px) {
  .career-hero {
    margin-top: 140px;
    height: 580px;
  }
}

@media (min-width: 1600px) {
  .career-hero {
    margin-top: 140px;
    height: 600px;
  }
  .career-hero--image {
    position: fixed;
    top: 64px;
  }

  .career-hero--image::after {
    /*height: 680px;*/
  }

  .career-page .internal-fullWidthPromo-contentWrapper {
    padding: 10% 15%;
    margin: 0;
  }
  .c-career--cta, .c-career--categories, .c-career--text-block, .c-career-panel, .c-career--accolades, .a11y-paragraphs-tabs__wrapper  {
    padding: 48px 15%;
  }
  .c-career-panel {
    padding: 0 15%;
  }
  /*.c-career--container-inner {
    padding: 0 15%;
  }

  .a11y-paragraphs-tabs__wrapper .c-career--container-inner {
    padding: 0 15%;
  }*/
  .c-career--tab-content .c-career-panel {
  padding: 0;
  }
}


/* CAREER ICONS -- NOT BEING USED RIGHT NOW */

.c-pg-career-icons--container {
  display: table;
  table-layout: fixed;
  width: 100%;
  /*margin: 0 auto;*/
  padding: 1% 15% 1% 15%;
}

.c-pg-career-icons {
  display: table-cell;
  width: 25%;
  background: #fff;
  padding: 1% 3%;
  text-align: center;
  border: 1px solid #e2e2e2;
}

.fa-heartbeat {
  font-size: 64px;
}

.fa-heartbeat:before {
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font-family: "FontAwesome";
  content: '\f21e';
  color: #7abf23;
  padding-right: 3px;
}


.c-career--container .paragraph--type--content-chunk p {
  font-size: 18px;
  line-height: 1.4em;
}

.c-career--container .paragraph--type--content-chunk ul {
  list-style: disc;
  list-style-position: inside;
}

.c-career--container .paragraph--type--content-chunk ul li {
  padding: 6px 0;
  font-size: 18px;
}

.c-career--body-text{
  font-size: 18px;
  margin-bottom: 48px;
}






