
#toolbar-administration {
    /* When closed there is no admin toolbar offset, allow it to overlay the header. */
    z-index: 4001;
}

@media all and (min-width: 1200px) {
    body.toolbar-tray-open.toolbar-vertical.toolbar-fixed #generalNav {
        top: 39px;
    }
    body.toolbar-tray-open.toolbar-horizontal.toolbar-fixed #generalNav {
        top: 79px;
    }

    /* Subsection overrides */
    body.toolbar-tray-open.toolbar-horizontal.toolbar-fixed .earthlife #generalNav {
        top: 0;
    }
}

.homepage-slider-caption.empty, .internal-slider-caption.empty {
    /* Need the important to override the inline styles applied by RS */
    display:none !important;
}

.indProduct-lowerContent-rightCol-image-spacer, .indProduct-lowerContent-rightCol-image-container {
    display: none;
}

@media all and (min-width: 1200px) {
    .indProduct-featuredImg-container.not-featured {
        display: none;
    }

    .indProduct-lowerContent-rightCol-image-spacer, .indProduct-lowerContent-rightCol-image-container {
        display: block;
    }
}

.subsection #generalNav {
    display: none;
}

.indLocation-upperGrid-indElement-list {
    list-style: disc;
    margin: 5px 0 0 15px;
}

form label.form-required {
    color: #367F17 /*#4c9d2a*/;
}

form.job-indListing-form .form-actions {
    margin: 40px 0 0;
}

#contact-message-service-location-contact-form-form .form-actions input {
    margin: 20px 0 0;
}

.noSidebarNav .internal-sidebarFullPromo-wrapper {padding: 0; border-top: none;}


a.sectionMenuToggle:before {content: "\f0c9";}
a.sectionMenuToggle.active:before {content: "\f00d";}
a.sectionMenuToggle {
    position: relative;
    font-family: 'FontAwesome';
    font-size: 24px;
    line-height: 1;
    font-weight: normal;
    color: #0a253e;
    text-decoration: none;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    content: "\f0c9";
}
#sectionNav a.sectionMenuToggle {color: #76be43;}
#sectionNav a.sectionMenuToggle.active {color: #FFF;}

/* Recreating using the nav element instead of div. */
nav.footer-lowerNav-container select {display: inline-block;}
nav.footer-lowerNav-container ul {display: none;}
@media all and (min-width: 768px) {
    /*Footer*/
    nav.footer-lowerNav-container ul {
        display: block;
    }

    nav.footer-lowerNav-container select {
        display: none;
    }
}

.locations-map #block-casella-local-tasks ul {
    border-bottom: none;
    padding: 0;
}

/* Locations search type update. */
.locationMap-searchForm-container input[type="text"] {height: 60px; line-height: 60px; padding: 0 50px 0 20px; font-size: 16px; border: 2px solid #EEE;background-image: none}
.locationMap-searchForm-container input[type="text"]:hover,
.locationMap-searchForm-container input[type="text"]:focus,
.locationMap-searchForm-container input[type="text"]:active {outline:none; background: #ffffff;}

.locationMap-listView-indListing-container.office .locationMap-listView-indListing-marker:before {content:'\e906'; color:#2f559a;}

/* Fixing a class spelling error - containter != container. */
.internal-resourceSolution-upperContentCol-container {display:block; width:100%;}
.internal-resourceSolution-subGridElement-container {background:#eff6fa; width:100%; padding:60px 0; margin: 0;}
.internal-resourceSolution-indSubGridElement-container {display:inline-block; vertical-align:top; width:100%; padding:0; font-size:14px; text-align:center;}
.internal-resourceSolution-indSubGridElement-container:nth-child(1) .internal-resourceSolution-indSubGridElement-wrapper {margin: 0; border-top: none; padding: 0;}
@media all and (min-width: 600px) {
    .internal-resourceSolution-indSubGridElement-container {width:50%; padding:0 0 0 50px;}
    .internal-resourceSolution-indSubGridElement-container:nth-child(2) .internal-resourceSolution-indSubGridElement-wrapper {margin: 0; border-top: none; padding: 0;}
}
@media all and (min-width: 840px) {
    .internal-resourceSolution-upperContentCol-container {display:table; table-layout:fixed;}
}
@media all and (min-width: 1200px) {
    .internal-resourceSolution-upperContentCol-container {display:block;}
    .internal-resourceSolution-subGridElement-container {padding:80px 0; margin: 50px 0 0;}
    .internal-resourceSolution-indSubGridElement-container {width:25%;}
}
@media all and (min-width: 1400px) {
    .internal-resourceSolution-upperContentCol-container {display: table; table-layout: fixed;}
}

/* Fix an issue with the differences between the zozo inits on mobile/desktop. */
.locationsMap-panel.content-map {
    position: relative !important; overflow: hidden; display: block;
}
@media all and (min-width: 1024px) {
    .locationsMap-panel.content-map {
        position: absolute !important;
    }
}

/* replacing .featured-page-generalTxt-container__yourHome selector */
.id_686 .internal-mainBody-generalTxt-container {margin:0 0 50px}

/* Show kint debug output above the nav. */
.kint {
    z-index: 4001;
    position: relative;
}

.panelControllers {
    display: none;
}

/* Give the deeplink target a tags a margin top to compensate for the fixed header. */
.deeplink_target {
    top:-70px;
    position: absolute;
}

.relativeWrapper {
    position: relative;
}

/* Duplicate .contactUs-inquiryInformation-element */
.form-item-field-state {display:block; width:100%; padding:0; margin:0 0 20px;}
@media all and (min-width: 840px) {
    .form-item-field-state {display:inline-block; vertical-align:top; padding:0 0 0 50px; width:50%;}
}

.locationMap-link-accordion-container {width: 100%; clear: both; margin: 30px 0 0; border: 1px solid #eee; background: #f8f8f8;}

.locationMap-link-accordion-container .locationMap-marker-accordion-content a.corporate:before {content:'\e906'; color:#2f559a;}
.locationMap-link-accordion-container .locationMap-marker-accordion-content a.dropoff:before {content:'\e900'; color:#939598;}
.locationMap-link-accordion-container .locationMap-marker-accordion-content a.hauling:before {content:'\e901'; color:#00253f;}
.locationMap-link-accordion-container .locationMap-marker-accordion-content a.landfill:before {content:'\e902'; color:#e46425;}
.locationMap-link-accordion-container .locationMap-marker-accordion-content a.organics:before {content:'\e903'; color:#3d963a;}
.locationMap-link-accordion-container .locationMap-marker-accordion-content a.recycling:before {content:'\e904'; color:#0082ca;}
.locationMap-link-accordion-container .locationMap-marker-accordion-content a.transfer:before {content:'\e905'; color:#a154a1;}

.locationMap-link-accordion-container .locationMap-marker-accordion-content a:before {
    display:table-cell;
    width: 25px;
    font-size: 20px;
    vertical-align: middle;
    font-family: 'location-markers' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.locationMap-link-accordion-container .locationMap-marker-accordion-content a div {
    display: table-cell;
    vertical-align: middle;
    width: auto;
    color: #606060;
    font-weight: bold;
}

.locationMap-link-accordion-container .views-field-field-location-category {padding: 0 0 10px; margin: 0 0 10px; border-bottom: 1px dotted #DDD; position:relative;}
.locationMap-link-accordion-container .views-field-field-location-category:last-of-type {padding: 0; margin: 0; border-bottom: none;}

@media all and (min-width: 1024px) {
    .locationMap-link-accordion-container {background: #FFF; color: #367F17 /*#4c9d2a*/;}
    .locationMap-link-accordion-container:hover {cursor: pointer; background: #7abf23; color: #FFF;}
    .locationMap-link-accordion-container.open {background: #7abf23; color:#FFF;}
    .locationMap-link-accordion-container.open .locationMap-marker-accordion-content {cursor: default; background: #FFF; color: #367F17 /*#4c9d2a*/; overflow: hidden;}

    .locationMap-link-accordion-container .locationMap-marker-accordion-toggle {color: inherit;}
    .locationMap-link-accordion-container .locationMap-marker-accordion-toggle-icon {display: block; top: 28px;}
    .locationMap-link-accordion-container .locationMap-marker-accordion-content {display: none !important; padding: 30px; overflow: auto; border-top: 1px solid #eee;}
    .locationMap-link-accordion-container.open .locationMap-marker-accordion-content {display: block !important;}
}

/* ben added overrides for the landfill pages, now that contact/billing/holidays in sidebar */
div.internal-mainBody-sidebarContainer div.indLocation-upperGrid-indElement-container.indLocation--address {
    margin-top: 50px;
}

div.internal-mainBody-sidebarContainer div.indLocation-upperGrid-indElement-container.indLocation--bill,
div.internal-mainBody-sidebarContainer div.indLocation-upperGrid-indElement-container.indLocation--holiday,
div.internal-mainBody-sidebarContainer div.indLocation-upperGrid-indElement-container.indLocation--address {
 width: 100%;
}

/* @JFC - temp fix for Toolkit font icon size */
.featured-btnRow-IndBtn-container a .featured-btnRow-IndBtn-icon {
  font-size: 37px !important;
}

.internal-mainBody-container.noPaddingTopBottom {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.job-indListing-form-personalInfo-container .js-form-item-field-cdl-class input[type="radio"] {

}

.job-indListing-form-personalInfo-container .job-indListing-form-personalInfo-contactContainer {
  /*margin-top: 1.25rem;*/
}

.paragraphs-subform.js-form-wrapper.form-wrapper .form-wrapper {
  margin-bottom: 1.5rem;
}

.paragraphs-subform.js-form-wrapper.form-wrapper .form-wrapper.field--name-field-to-present {
  margin-bottom: 0;
}

/* Contact Form Paragraphs */
.paragraphs-subform.js-form-wrapper.form-wrapper .field--type-datetime h4 {
  display: inline-block;
  margin-top: .5rem;
  margin-bottom: .5rem;
  padding-bottom: 0;
  font-weight: normal;
  font-family: 'Gotham-Bold', sans-serif;
  color: #367F17 /*#4c9d2a*/;
  font-size: 14px;
  border-bottom: none;
}

.job-employers-accordion .field-group-format-toggler {

}

.job-employers-accordion .field-group-accordion-item {
  padding: 1.25rem;
}

.job-employers-accordion .field-group-accordion-item .form-wrapper {
  margin-top: 1.5rem;
}

.job-employers-accordion .field-group-accordion-item .field--name-field-start-date h4,
.job-employers-accordion .field-group-accordion-item .field--name-field-start-date2 h4,
.job-employers-accordion .field-group-accordion-item .field--name-field-start-date3 h4,
.job-employers-accordion .field-group-accordion-item .field--name-field-start-date4 h4 {
  display: inline-block;
  margin-top: .5rem;
  margin-bottom: .5rem;
  padding-bottom: 0;
  font-weight: normal;
  font-family: 'Gotham-Bold', sans-serif;
  color: #367F17 /*#4c9d2a*/;
  font-size: 14px;
  border-bottom: none;
}

.job-employers-accordion .field-group-accordion-item .field--name-field-end-date h4,
.job-employers-accordion .field-group-accordion-item .field--name-field-end-date2 h4,
.job-employers-accordion .field-group-accordion-item .field--name-field-end-date3 h4,
.job-employers-accordion .field-group-accordion-item .field--name-field-end-date4 h4 {
  display: inline-block;
  margin-top: .5rem;
  margin-bottom: .5rem;
  padding-bottom: 0;
  font-weight: normal;
  font-family: 'Gotham-Bold', sans-serif;
  color: #367F17 /*#4c9d2a*/;
  font-size: 14px;
  border-bottom: none;
}

.job-employers-accordion .field-group-accordion-item .field--name-field-expiration-date h4 {
  display: inline-block;
  margin-top: .5rem;
  margin-bottom: .5rem;
  padding-bottom: 0;
  font-weight: normal;
  font-family: 'Gotham-Bold', sans-serif;
  color: #367F17 /*#4c9d2a*/;
  font-size: 14px;
  border-bottom: none;
}

/* Hide first Remove button */
#edit-field-employers-0-top {
  display: none;
}

.field--name-field-start-date {

}

.field--type-entity-reference-revisions.field--name-field-employers {

}

.field--type-entity-reference-revisions.field--name-field-employers .field--hide-label label {
  /*display: none;*/
}

.field--type-entity-reference-revisions.field--name-field-employers .paragraphs-subform fieldset legend {
  display: none;
}

.field--type-entity-reference-revisions.field--name-field-employers table.field-multiple-table thead h4.label {
  display: none;
}

.field--type-entity-reference-revisions.field--name-field-licenses table.field-multiple-table thead h4.label {
  display: none;
}

.field--type-entity-reference-revisions.field--name-field-licenses table.field-multiple-table .paragraph-type--licenses {
  border-bottom: 1px solid #bbbbbb;
}

.field--type-entity-reference-revisions.field--name-field-licenses table.field-multiple-table .paragraph-type--licenses .field-multiple-drag {
  display: none;
}

#edit-field-licenses-0-top-links-remove-button {
  display: none;
}

.field--type-entity-reference-revisions.field--name-field-licenses table.field-multiple-table thead h4.label {
  display: none;
}

.field--type-entity-reference-revisions.field--name-field-employers table.field-multiple-table td.field-multiple-drag {
  display: none;
}

.field--type-entity-reference-revisions.field--name-field-employers table.field-multiple-table .paragraph-type--employer {
  /*width: 47.5%;
  display: inline-block;
  vertical-align: top;*/
}

.field--type-entity-reference-revisions.field--name-field-employers table.field-multiple-table .paragraph-type--employer:nth-of-type(odd) {
  /*margin-right: 5%;*/
}

.job-indListing-formToggle-container .tabledrag-toggle-weight-wrapper {
  display: none;
}

.job-employers-accordion h3.accordion-item a label {
  display: none;
}

.ui-accordion .ui-accordion-header {
  font-size: 15px;
}


.field--name-field-to-present .form-wrapper legend {
  display: none;
}

#contact-message-job-application-drivers-form input.is-invalid {
  outline: 1px solid red;
}

/* locationMapHolidaySchedule-container */
.locationMapHolidaySchedule-container {
  display:block; width:100%;
}
.locationMapHolidaySchedule-container .locationMap-pageCopy-container .internal-mainBody-featuredContent-container {
  font-family: 'Droid Serif', serif;
  font-size: 14px;
  line-height: 1.7;
  margin:0 0 50px;
}
.locationMapHolidaySchedule-container {
  font-size:0;
}
.locationMapHolidaySchedule-container .locationMap-contentCol-container {
  width: 100%;
  padding: 50px 0;
  margin: 0 auto;
  display: block;
}
/*Centered Text*/
.locationMapHolidaySchedule-container .center {
  text-align: center;
  display: block;
  margin: 0 auto;
}
.locationMapHolidaySchedule-container .locationMap-searchForm-container input[type="text"] {
  width: 380px;
  text-align: center;
}
.locationMapHolidaySchedule-container .locationMap-searchForm-container .icon {
  right: unset;
  margin-left: 220px
}
.locationMapHolidaySchedule-container {
  font-family: 'Droid Serif', serif;
  font-size: 14px;
  line-height: 1.7;
}
table#holidaySchedule > tbody > tr > td,
table#holidaySchedule > tbody > tr > th {
  display: table-cell;
  text-align: left;
}
.locationMapHolidaySchedule-container .locationMap-listView-container {
  padding: 0 0 50px 0;
}

.user-login-notice {
  margin: 0 0 2rem 0;
  padding: 1rem;
  background: #fff;
  border: 2px solid #00326f /*#004a87*/;
  border-radius: 8px;
}

.user-login-notice .fa-info-circle:before {
  color: darkgoldenrod;
}

.user-login-notice h2 {
  font-size: 36px;
}

.user-login-notice p {
  margin-bottom: 0;
  font-size: 18px;
  color: #333;
}
