#form-wrapper {
  padding: 10px; }

#contact-message-job-application-drivers-form legend {
  border-bottom: 1px solid #bbbbbb;
  font-size: 1.25rem;
  padding-bottom: .5rem;
  padding-top: 2rem; }

#contact-message-job-application-drivers-form select {
  margin-bottom: 0; }

#contact-message-job-application-drivers-form input {
  margin-bottom: 0; }

#contact-message-job-application-drivers-form label {
  margin-top: .5rem; }

#contact-message-job-application-drivers-form input[type="date"] {
  line-height: inherit; }

#contact-message-job-application-drivers-form .form-checkbox {
  margin-right: .25rem; }

#contact-message-job-application-drivers-form > .field-group {
  margin-top: 4rem; }
#contact-message-job-application-drivers-form > .field-group > legend {
  font-size: 2rem;
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0; }
#contact-message-job-application-drivers-form > .field-group > .fieldset-wrapper {
  font-size: 0; }
@media only screen and (min-width: 768px) {
  #contact-message-job-application-drivers-form > .field-group > .fieldset-wrapper > .form-item {
    width: 47.5%;
    display: inline-block;
    vertical-align: top; }
  #contact-message-job-application-drivers-form > .field-group > .fieldset-wrapper > .form-item:nth-of-type(odd) {
    margin-right: 5%; } }
#contact-message-job-application-drivers-form > .field-group > .fieldset-wrapper > .form-item > legend {
  padding-top: 3rem; }
#contact-message-job-application-drivers-form > .field-group > .fieldset-wrapper > .form-item > .fieldset-wrapper > .form-wrapper {
  margin-top: 1.5rem; }
#contact-message-job-application-drivers-form > .field-group > .fieldset-wrapper > .form-item > .fieldset-wrapper > .form-wrapper > h4 {
  border-bottom: none;
  padding-bottom: 0;
  color: #4c9d2a;
}

.field--name-field-type-of-equipment-operated {
  margin-top: 3rem; }

.job-indListing-form-personalInfo-contactContainer {
  display: block;
  font-size: 0; }
@media (min-width: 840px) {
  .job-indListing-form-personalInfo-contactContainer .job-indListing-form-personalInfo-subContainer,
  .job-indListing-form-personalInfo-contactContainer .contactUs-inquiryInformation-element,
  .job-indListing-form-personalInfo-contactContainer .field--name-field-job-email,
  .job-indListing-form-personalInfo-contactContainer .form-item-field-state {
    display: inline-block;
    width: 47.5%;
    padding-left: 0; }
  .job-indListing-form-personalInfo-contactContainer .job-indListing-form-personalInfo-subContainer:nth-of-type(odd),
  .job-indListing-form-personalInfo-contactContainer .contactUs-inquiryInformation-element:nth-of-type(odd),
  .job-indListing-form-personalInfo-contactContainer .field--name-field-job-email:nth-of-type(odd),
  .job-indListing-form-personalInfo-contactContainer .form-item-field-state:nth-of-type(odd) {
    margin-right: 5%; } }
.job-indListing-form-personalInfo-contactContainer .field--type-email > .job-indListing-form-personalInfo-subContainer {
  width: 100%;
  padding-right: 0;
  margin-right: 0; }

form#contact-message-job-application-drivers-form .job-indListing-form-personalInfo-subContainer {
  padding: 0;
}
/*# sourceMappingURL=styles.css.map */