/*
Website Name: Casella
Description: Locations/Map stylesheet
Version: 1.0
Author: Adworkshop
Author URI: http://www.adworkshop.com
*/

  @font-face {
  font-family: 'location-markers';
  src: url('../../fonts/location-markers.eot?lscmol');
  src: url('../../fonts/location-markers.eot?lscmol#iefix') format('embedded-opentype'),
       url('../../fonts/location-markers.ttf?lscmol') format('truetype'),
       url('../../fonts/location-markers.woff?lscmol') format('woff'),
       url('../../fonts/location-markers.svg?lscmol#location-markers') format('svg');
  font-weight: normal;
  font-style: normal;
  }

/* ======================================================= */
/*    LOCATIONS - MAP/MAIN                                 */
/* ======================================================= */
  /*Map Panel Framework*/
  .locationMap-container {display:block; width:100%;}
  .locationMap-contentCol-container {display:block; width: 100%; padding:50px 30px;}
  .locationMap-contentCol-wrapper {}
  .locationMap-mapCol-container {display:block; line-height:0; position:relative; background: #f8f8f8; border-top: 5px solid #f8f8f8; padding:30px;}

  /*General Page Copy*/
	.locationMap-pageCopy-container .internal-mainBody-featuredContent-container {font-family: 'Droid Serif', serif; font-size: 14px; line-height: 1.7; margin:0 0 50px;}

  /*Search Form*/
  .locationMap-searchForm-container {}
  .locationMap-searchForm-title {font-family: 'Gotham-Black'; line-height: 1.3; color: #00326f /*#004a87*/; font-size: 17px;}
  .locationMap-searchForm-container{width: 100%; position: relative; margin: 10px 0 0;}
  .locationMap-searchForm-container .icon{position: absolute; top: 0; right: 20px; margin-top: 22px; z-index: 1; color: #AAA;}
  .locationMap-searchForm-container input[type="search"] {height: 60px; line-height: 60px; padding: 0 50px 0 20px; font-size: 16px; border: 2px solid #EEE;}
  .locationMap-searchForm-container input[type="search"]:hover,
  .locationMap-searchForm-container input[type="search"]:focus,
  .locationMap-searchForm-container input[type="search"]:active {outline:none; background: #ffffff;}
  .locationMap-searchForm-container input[type="search"]:focus {border: 2px solid #3e8ed9 /* 0c5ca7*/;}
	.locationMap-searchForm-container input[type="submit"] {
	height: 45px;
	line-height: 44px;
	padding: 0 20px;
	font-family: 'Gotham-Bold';
	font-weight: normal;
	font-size: 15px;
	background: #368714 /*#4c9d2a*/;
	outline: none;
	color: #FFF;
	border: 2px solid #368714 /*#4c9d2a*/;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: .75rem 0 0;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	}
	.locationMap-searchForm-container input[type="submit"]:hover {
	background: #FFF;
	color: #368714 /*#4c9d2a*/;
	border: 2px solid #368714 /*#4c9d2a*/;
	}

  /*Location Marker Toggles*/
  .locationMap-marker-accordion-container {width: 100%; clear: both; margin: 30px 0 0; border: 1px solid #eee; background: #f8f8f8;}
  .locationMap-marker-accordion-container.not-searched {display:none;}
  .locationMap-marker-accordion-toggle {position: relative; display: block; text-decoration: none; font-family: 'Gotham-Bold'; line-height: 1; color: #368714 /*#4c9d2a*/; font-size: 16px; padding: 20px 30px;}
  .locationMap-marker-accordion-toggle.open {background: #7abf23; color: #fff; }
  .locationMap-marker-accordion-toggle:hover {background: #7abf23; color:#FFF;}
  .locationMap-marker-accordion-toggle-icon {position: absolute; top: 18px; right: 30px; font-size: 20px;}
  .locationMap-marker-accordion-content {display: none; padding: 30px; overflow: auto; border-top: 1px solid #eee;}

  /*Key*/
  .locationMap-key-location-container {padding: 0 0 10px; margin: 0 0 10px; border-bottom: 1px dotted #DDD; position:relative;}
  .locationMap-key-location-container:last-of-type {padding: 0; margin: 0; border-bottom: none;}
  .locationMap-key-location-container.corporate label:before,
  .locationMap-key-location-container.dropoff label:before,
  .locationMap-key-location-container.hauling label:before,
  .locationMap-key-location-container.landfill label:before,
  .locationMap-key-location-container.organics label:before,
  .locationMap-key-location-container.recycling label:before,
  .locationMap-key-location-container.transfer label:before {
  display:table-cell;
  width: 25px;
  font-size: 20px;
  vertical-align: middle;
  font-family: 'location-markers' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }

  .locationMap-key-location-container.corporate label {color:#2f559a;}
  .locationMap-key-location-container.dropoff label {color:#939598;}
  .locationMap-key-location-container.hauling label {color:#00253f;}
  .locationMap-key-location-container.landfill label {color:#e46425;}
  .locationMap-key-location-container.organics label {color:#3d963a;}
  .locationMap-key-location-container.recycling label {color:#0082ca;}
  .locationMap-key-location-container.transfer label {color:#a154a1;}

  .locationMap-key-location-container.corporate label:before {content:'\e906';}
  .locationMap-key-location-container.dropoff label:before {content:'\e900';}
  .locationMap-key-location-container.hauling label:before {content:'\e901';}
  .locationMap-key-location-container.landfill label:before {content:'\e902';}
  .locationMap-key-location-container.organics label:before {content:'\e903';}
  .locationMap-key-location-container.recycling label:before {content:'\e904';}
  .locationMap-key-location-container.transfer label:before {content:'\e905';}

  .checkbox-custom {opacity: 0; position: absolute;}
  .checkbox-custom, .checkbox-custom-label {display: inline-block; vertical-align: middle; margin: 5px; cursor: pointer;}
  .label-custom {position: relative; font-family: 'Source Sans Pro', sans-serif; font-weight: 600; font-size:15px; display: table; table-layout: fixed; width: 100%; margin:0;}
  .checkbox-custom + .label-custom:after {
  font-size: 18px;
  font-family: 'FontAwesome';
  display: table-cell;
  vertical-align: middle;
  width: 30px;
  text-align: right;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  content: '\f0fe';
  color: #DDD;
  }
  .checkbox-custom:checked + .label-custom:after {color: #6ebf4b; content: '\f14a';}
  .checkbox-custom + .label-custom, .checkbox-custom:focus + .label-custom {outline: none; cursor: pointer;}
  .inner-lable-custom {display: table-cell; vertical-align: middle; width: auto; color: #606060;}

/* ======================================================= */
/*    MAP PANEL SWAP BTNS                                  */
/* ======================================================= */
  .panelControllers { position: relative; font-size:0; border-top: 5px solid #00326f /*#004a87*/;}
  .panelControllers button {
  font-family: 'Gotham-Bold';
  font-size: 13px;
  padding: 20px 5px;
  line-height: 1;
  background: #00326f /*#004a87*/;
  border: none;
  outline: none;
  color:#FFF;
  width:50%;
  -webkit-transition: all .2s ease-in-out; -moz-transition: all 300ms ease-in-out; -o-transition: all .2s ease-in-out; -ms-transition: all .2s ease-in-out; transition: all .2s ease-in-out;
  }
  .panelControllers button:hover {background: #7abf23;}
  .panelControllers button.active {background: #f8f8f8; color:#444;}

/* ======================================================= */
/*    MAP VIEW                                             */
/* ======================================================= */
  .content-map {height: 500px; width: 100%; line-height:1.5;}

	.content-map .gm-style .gm-style-iw {font-weight: normal; padding: .5rem;}
	.content-map .gm-style .markerWrapper {padding-right: .75rem;}
	.content-map .gm-style .markerTitle {color: #00326f /*#004a87*/;}
	.content-map .gm-style .markerType {    margin: 0; font-family: 'Source Sans Pro', sans-serif; font-style: italic; font-weight: 700;}
	.content-map .gm-style .markerLink a {
	color: #FFF;
	background-color: #7abf23;
	text-align: center;
	text-decoration: none;
	padding: .25rem .5rem;
	font-family: 'Gotham-Bold';
	font-weight: normal;
	border: 2px solid #7abf23;
	font-size: 11px;
	width: auto;
	display: inline-block;
	margin: .5rem 0 0;
	outline:none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	}
	.content-map .gm-style .markerLink a:hover {
	color: #7abf23;
	background-color: #fff;
	border: 2px solid #7abf23;
	}

/* ======================================================= */
/*    LIST VIEW                                            */
/* ======================================================= */
  .locationMap-listView-container {background:#f8f8f8; width:100%; padding:0; line-height:1.3;}

  .locationMap-listView-indListing-container {display:table; table-layout:fixed; width:100%; margin: 0 0 40px; padding: 0 0 40px; border-bottom: 3px solid #fff;}
  .locationMap-listView-indListing-container:last-of-type {margin: 0; padding: 0; border-bottom: none;}
  .locationMap-listView-indListing-marker-container {display:table-cell; vertical-align:top; width:70px; padding:0 30px 0 0;}
  .locationMap-listView-indListing-content-container {display:table-cell; vertical-align:top;}

  /*Markers*/
  .locationMap-listView-indListing-marker {
  font-family: 'location-markers' !important;
  font-size: 40px;
  text-align:center;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }

  .locationMap-listView-indListing-container.corporate .locationMap-listView-indListing-marker:before {content:'\e906'; color:#2f559a;}
  .locationMap-listView-indListing-container.dropoff .locationMap-listView-indListing-marker:before {content:'\e900'; color:#939598;}
  .locationMap-listView-indListing-container.hauling .locationMap-listView-indListing-marker:before {content:'\e901'; color:#00253f;}
  .locationMap-listView-indListing-container.landfill .locationMap-listView-indListing-marker:before {content:'\e902'; color:#e46425;}
  .locationMap-listView-indListing-container.organics .locationMap-listView-indListing-marker:before {content:'\e903'; color:#3d963a;}
  .locationMap-listView-indListing-container.recycling .locationMap-listView-indListing-marker:before {content:'\e904'; color:#0082ca;}
  .locationMap-listView-indListing-container.transfer .locationMap-listView-indListing-marker:before {content:'\e905'; color:#a154a1;}

  .locationMap-listView-indListing-distance {font-family: 'Gotham-Bold'; line-height: 1.3; color: #9c9c9c; font-size: 12px; text-align: center; margin: 10px 0 0;}
  .locationMap-listView-indListing-content-title {font-family: 'Gotham-Bold'; line-height: 1.2; color: #0a253e; font-size: 17px;}
  .locationMap-listView-indListing-content-description {line-height:1.5; margin:15px 0 0; font-size:13px;}
  .locationMap-listView-indListing-content-meta {margin:15px 0 0; font-size:14px;}
  .locationMap-listView-indListing-content-meta > div {margin:0 0 5px;}
  .locationMap-listView-indListing-content-meta div:last-of-type {margin:0;}
  .locationMap-listView-indListing-content-address {font-weight: 600;}
  .locationMap-listView-indListing-content-phone {font-weight: 600;}
  .locationMap-listView-indListing-content-ctaContainer {margin:5px 0 0;}
  .locationMap-listView-indListing-content-ctaContainer a {margin-top: 15px; margin-right: 5px;}
  .locationMap-listView-indListing-content-ctaContainer a:last-of-type {margin-right: 0;}

  .indLocation-holidayPanelOpen-title .locationMap-listView-indListing-content-ctaContainer {margin:10px 0;}
  .indLocation-holidayPanelOpen-title .locationMap-listView-indListing-content-ctaContainer a {margin:0 0 5px;}

  a.locationMap-listView-indListing-content-viewMap-btn {
  font-family: 'Gotham-Bold'; font-size:12px; color:#FFF; display:inline-block; background:#76be43; padding: 10px 20px 9px;
  border: 2px solid #76be43; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
  -webkit-transition: all .2s ease-in-out; -moz-transition: all 300ms ease-in-out; -o-transition: all .2s ease-in-out; -ms-transition: all .2s ease-in-out; transition: all .2s ease-in-out;
  }
  a.locationMap-listView-indListing-content-viewMap-btn:hover {border: 2px solid #76be43; background:#FFF; color:#76be43;}
  a.locationMap-listView-indListing-content-viewMap-btn:after {display:none;}

  a.locationMap-listView-indListing-content-driving-btn {
  font-family: 'Gotham-Bold'; font-size:12px; color:#FFF; display:inline-block; background:#00326f /*#004a87*/; padding: 10px 20px 9px;
  border: 2px solid #00326f /*#004a87*/; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
  -webkit-transition: all .2s ease-in-out; -moz-transition: all 300ms ease-in-out; -o-transition: all .2s ease-in-out; -ms-transition: all .2s ease-in-out; transition: all .2s ease-in-out;
  }
  a.locationMap-listView-indListing-content-driving-btn:hover {border: 2px solid #00326f /*#004a87*/; background:#FFF; color:#00326f /*#004a87*/;}
  a.locationMap-listView-indListing-content-driving-btn:after {display:none;}

  a.locationMap-listView-indListing-content-learnMore-btn {
  font-family: 'Gotham-Bold'; font-size:12px; color:#FFF; display:inline-block; background:#0a253e; padding: 10px 20px 9px;
  border: 2px solid #0a253e; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
  -webkit-transition: all .2s ease-in-out; -moz-transition: all 300ms ease-in-out; -o-transition: all .2s ease-in-out; -ms-transition: all .2s ease-in-out; transition: all .2s ease-in-out;
  }
  a.locationMap-listView-indListing-content-learnMore-btn:hover {border: 2px solid #0a253e; background:#FFF; color:#0a253e;}
  a.locationMap-listView-indListing-content-learnMore-btn:after {display:none;}

/* ======================================================= */
/*    MEDIA QUERIES                                        */
/* ======================================================= */
  @media all and (min-width: 480px) {}

  @media all and (min-width: 600px) {
  .locationMap-searchForm-title {font-size: 20px;}

  .locationMap-contentCol-container {padding: 50px 40px;}
  .locationMap-mapCol-container {padding:40px;}

  .locationMap-listView-indListing-marker-container {width:100px;}
  .locationMap-listView-indListing-marker {font-size: 60px;}
  .locationMap-listView-indListing-distance {font-size: 14px;}
  .locationMap-listView-indListing-content-title {font-size: 24px;}
  .locationMap-listView-indListing-content-description {font-size:15px;}
  .locationMap-listView-indListing-content-meta {font-size:15px;}
  }

  @media all and (min-width: 768px) {}

  @media all and (min-width: 840px) {}

  @media all and (min-width: 960px) {}

  @media all and (min-width: 1024px) {
  .locationMap-marker-accordion-container {margin: 50px 0 0;}
  .locationMap-marker-accordion-toggle {pointer-events: none; padding:30px;}
  .locationMap-marker-accordion-toggle.open {background: none; color: #368714 /*#4c9d2a*/;}
  .locationMap-marker-accordion-toggle:hover {background: none; color: #368714 /*#4c9d2a*/;}
  .locationMap-marker-accordion-toggle-icon {display:none;}
  .locationMap-marker-accordion-content {display: block !important; padding: 0 30px 30px; border:none;}

  .locationMap-marker-accordion-container.not-searched {display:block;}
  .not-searched .locationMap-marker-accordion-toggle {opacity:.3; pointer-events: none;}
  .not-searched .locationMap-locationToggles-wrapper {opacity:.3; pointer-events: none;}

  .locationMap-container {font-size:0;}
  .locationMap-contentCol-container {display:inline-block; vertical-align:top; width: 40%; padding: 50px 40px;}
  .locationMap-mapCol-container {display:inline-block; vertical-align:top; width: 60%; padding:0;}
  .content-map {height: 100%; position: absolute; top: 0;}
  .locationMap-listView-container {padding:50px 7% 50px 50px;}

  .panelControllers {position: absolute; z-index: 3; top: -42px; margin:0; border-top:none;}
  .panelControllers button {
  padding: 13px 20px 10px;
  width:auto;
  margin:0 5px 0 0;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  }

  .locationMap-link-accordion-container,
  .locationMap-searchForm-container .icon {font-size: 1rem;}

  }

  @media all and (min-width: 1200px) {
  .locationMap-searchForm-title {font-size: 17px;}
  .locationMap-contentCol-container {width: 30%; padding: 50px 50px 50px 7%;}
  .locationMap-mapCol-container {width: 70%;}
  }

  @media all and (min-width: 1300px) {
  .locationMap-searchForm-title {font-size: 20px;}
  }

  @media all and (min-width: 1800px) {
  .locationMap-searchForm-title {font-size: 25px;}
  }

  @media all and (min-width: 1600px) {}

  @media only screen and (max-width: 1023px) {
  .locationMap-contentCol-wrapper {min-height: 100% !important;}

  }
