{% for item in items %}
  <div{{ item.attributes }} class="resources-listing">
    <div class="resources-listing-content">
      <div class="resources-listing-category">Tip<span class="fa  fa-lightbulb-o" aria-hidden="true"></span></div>
      {{ item.content }}
    </div>
  </div>
{% endfor %}
