{% extends "@casella/field/field--field-images.html.twig" %}

{% block outerWrapperOpen %}
  <div{{ attributes.addClass(['indProduct-lowerContent-leftCol-gallery-container', 'indProduct-lowerContent-leftCol-spacer']) }}>
    <h2>Product Gallery:</h2>
{% endblock %}

{% block outerWrapperClose %}
  </div>
{% endblock %}
