{% for item in items %}
  <div{{ item.attributes }} class="resources-listing">
    {% block resourceContent %}
      <div class="resources-listing-content fa-tip">
        <div class="resources-listing-category">Tip<span class="fa fa-lightbulb-o" aria-hidden="true"></span></div>
      </div>
      {{ item.content }}
    {% endblock %}
  </div>
{% endfor %}
