<div class="internal-indInteractivePanelContainer">
  <div class="internal-mainBody-container">
    <div class="internal-indInteractivePanelContainer">
      <div class="internal-mainBody-layoutContainer">
        <div class="internal-mainBody-contentContainer">
          <div class="internal-mainBody-generalTxt-container">
            <h2 id="toolkits" class="internal-page-anchor-offset">{{ content.field_tab_title}}</h2>
            <p>{{ content.field_tab_description }}</p>
            {{ content.field_pdf_file }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
