{% set background_color = content.field_career_panel_color.0['#markup'] %}

<div class="c-career--accolades">
  <h2 class="c-career--section-title blue">{{ content.field_title }}</h2>

    <div class="c-career--accolades-items">
      {{ content.field_career_accolades_items}}
    </div>

</div>
