<div class="sidebar-items-search">
  <div class="sidebar-items-search-title">Items Search</div>
  <div class="sidebar-items-search-teaser">{{ content }}</div>
  <form role="search" method="get" accept-charset="UTF-8" action="/search/node">
    <div class="form-item form-item--search">
      <input id="search_block_form" name="keys" aria-label="Enter Search Terms" type="search" placeholder="enter search terms…">
    </div>
    <div class="form-actions">
      <input name="submit" type="submit" value="Submit">
    </div>
  </form>
</div>
