{{ attach_library('casella/jquery.fitvids') }}

{% embed "@casella/includes/paragraph--zozo-tab.html.twig" %}
  {% block tabContent %}
    <div class="internal-indInteractivePanel-gridColLeft">
      <div class="nestedTabs-container">
        <div class="nestedTabs-wrapper">

          {{ services_title_view }}

          <div>
            {{ services_view }}
          </div>

        </div>
      </div>
    </div>
  {% endblock %}
{% endembed %}
