{% embed "@casella/includes/paragraph--zozo-tab.html.twig" %}
  {% block tabContent %}
    <div class="cd-faq">
      {{ content.field_faqs }}
      <ul class="cd-faq-categories">
        {% for faqLabel in faqLabels %}
          <li><a {% if loop.first %}class="selected" {% endif %}href="#faq_{{ faqLabel.id }}">{{ faqLabel.category }}</a></li>
        {% endfor %}
      </ul>
    </div>

  {% endblock %}
{% endembed %}
