{{ content.field_bin_comparison_image }}
<div class="bin-comparison">
  <div class="bin-comparison-left">
    {{ content.field_comparison_donts }}
  </div>
  <div class="bin-comparison-right">
    {{ content.field_comparison_dos }}
  </div>
</div>

