{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  'internal-indInteractivePanelContainer',
]
%}

<div>
  <div{{ attributes.addClass(classes) }}
    <div class="internal-indInteractivePanel-gridContainer">
      <div class="internal-mainBody-generalTxt-container">
        {{ content.field_tab_title }}
        <hr />
        {{ content.field_tab_description }}

        <div id="js-calculator-form-results" class="calculator-form-results autocomplete-has-suggestions is-hidden">
          <p><strong>Calculator results</strong></p>
          <p>Some dynamic stuff can go here...</p>
        </div>

        <form id="js-calculator-form" class="form--gridded form-calculator-form">
          <div class="form-item">
            <label for="calc_size_of_bin">Size of bin</label>
            <input name="calc_size_of_bin" id="calc_size_of_bin" type="text" />
          </div>
          <br />
          <div class="form-item">
            <label for="calc_frequency_setout">Frequency of Set-out</label>
            <input name="calc_frequency_setout" id="calc_frequency_setout" type="text" />
          </div>
          <div class="form-actions">
            <input name="submit" type="submit" value="Submit" />
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
