{% set background_color = content.field_career_panel_color.0['#markup'] %}

<div class="c-career--image-panel">
  <div class="c-career--image-panel-img"{{ content.field_image }}</div>
  <h2 class="c-career--section-title white">{{ content.field_title }}</h2>
</div>
