<div class="featured-btnRow-IndBtn-container">
  <div class="featured-btnRow-IndBtn-innerContainer">
    <div class="featured-btnRow-IndBtn-wrapper">
      <a href="/">{{ button_title_value }}
        <div class="featured-btnRow-IndBtn-icon">
          <span class="fa {{ content.field_link_type }}" aria-hidden="true"></span>
        </div>
      </a>
    </div>
  </div>
</div>



