

<div class="c-career--text-block white">
  <div class="c-career--section-title blue">{{ content.field_title }}</div>
  <div class="c-career--text">{{ content.field_paragraph_long_text }}</div>
  <div class="c-career--video">{{ content.field_career_video }}</div>
  <div class="c-career--image">{{ content.field_image }}</div>
</div>
