<div class="c-pg-career-icons--container">
  <div class="c-career--container-inner">
    {% for key, item in content.field_career_icons if key|first != '#' %}
      {{ content.field_career_icons[key] }}
    {% endfor %}
  </div>
</div>
