{% set background_color = content.field_career_panel_color.0['#markup'] %}

<div class="c-career--accolades-image">
  {{ content.field_image }}
</div>

<div class="c-career--accolades-desc">
  {{ content.field_short_description }}
</div>


