{{ attach_library('casella/jquery.fitvids') }}

{% embed "/" ~ theme_path ~ "/templates/includes/paragraph--zozo-tab.html.twig" %}
  {% block tabContent %}
    <div class="internal-indInteractivePanel-gridColLeft">
      {{ content.field_free_form_content }}
    </div>
  {% endblock %}
{% endembed %}
