{%
  set classes = [
  'start-of-videos-resources',
  'resources-listing',
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}
<div{{ attributes.addClass(classes) }}>
  <div class="resources-listing-content resources-listing-content--title--desc">
    {{ content | without('field_resource_video') }}
  </div>
</div>
<div class="resources-listing-image">
  {{ content.field_resource_video }}
</div>
