<div class="c-pg-career-icons">

  <div class="c-pg-career-icon-fa">
    <span class="fa-{{ content.field_fa_icon.0['#context']['value'] }}"></span>
  </div>
  <h2 class="c-pg-career-icon--title">{{ content.field_title }}</h2>
  <p>{{ content.field_secondary_title }}</p>
</div>
