

<div class="c-career--cta white">
  <h2 class="c-career--cta-title">{{ content.field_title }}</h2>
  <div class="c-career--cta-text">{{ content.field_paragraph_long_text }}</div>
  <div class="c-career--video">{{ content.field_career_video }}</div>
</div>
