{% extends theme_path ~ "/templates/layout/region--header.html.twig" %}

{% block largeNavReveal %}
  <!--Larger Nav Reveal-->
  <div id="collapsedNav" class="cf">
    <div class="globalWidth">
      <div class="collapsed-headerLogo">
        {% if not is_front %}<a href="{{ base_url }}" title="home">{% endif %}
        {% embed '/' ~ theme_path ~ "/templates/includes/casella-logo.html.twig" %}{% endembed %}
        {% if not is_front %}</a>{% endif %}
      </div>
      <div class="collapsed-headerTrigger-wrapper"><a class="collapsed-headerTrigger mainMenuToggle"></a></div>
    </div>
  </div>
  <!--END Larger Nav Reveal-->
{% endblock %}
